* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
  width: 100vw;
  height: 100vh;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px;
  width: auto;
  height: 90vh;
  top: 10px;
  left: 0;
  position: absolute;
  cursor: hand;
}

.avatar {
    background: #fff;
    width: 340px;
    height: 480px;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-size: auto 100% !important;
    background-position: center;
    background-repeat: no-repeat;
  }

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: none;
  opacity: 0;
  z-index: 10;
}

.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: none;
  z-index: 10;
}



.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}
