* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
}

body {
  /* background: #e1e1e1
    url('https://unsplash.com/photos/sbcIAn4Mn14/download?force=true&w=640')
    center center; */

  /* background-size: cover; */
  -webkit-overflow-scrolling: none;
  /* background-color: rgb(53, 50, 50); */
  background-color: #111;
  color: #fff;
  font-family: sans-serif;

  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;

  position: fixed;
  top: -10px;
  left: -10px;

  display: flex;

  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin: auto; */
}

.os-viewport {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.image {
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  object-fit: cover;
  z-index: -100;
}

.screenToggle {
  background-color: rgba(225, 225, 225, 0.35);
  border-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  opacity: 0.5;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 50%;
  top: 1rem;
  left: 1rem;
  text-align: center;
  z-index: 100;
  outline: none;
}

.hidden {
  display: none !important;
}

input {
  position: fixed;
  border: none;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.35);
  outline: none;
  /* position: relative; */
  top: 0;
  left: 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  height: 3.5rem;
  width: 100vw;
  padding: 0.5rem;
  padding-left: 1rem;
  z-index: 100;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 1; /* Firefox */
  font-size: 1rem;
}

.results {
  position: fixed;
  top: 3.5rem;
  width: 100vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  z-index: 100;
}

.result {
  width: auto;
  height: 2rem;
  /* border: 1px solid rgba(110, 110, 110, 0.1); */
  padding: 0.3rem;
  margin-bottom: 1.2rem;
  /* background-color: rgba(0, 0, 0, 0.8); */
  z-index: 100;
}

.description {
  position: fixed;
  bottom: 0;
  /* right: 0; */
  width: 100vw;
  height: auto;

  font-size: 1.2rem;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: rgba(0, 0, 0, 0.35);
  text-align: center;
  padding: 1rem;
}

a {
  position: relative;
  /* color: rgba(0, 0, 0, 0.7); */
  color: #fff;
  font-weight: bold;
  outline: none;
  text-decoration: none;
}

.close {
  position: fixed;
  background: transparent;
  color: #ccc;
  border: none;
  z-index: 120;
  cursor: pointer;
  outline: none;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 3rem;
  width: 3rem;
}
