* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
}

body {
  /* background: #e1e1e1
    url('https://unsplash.com/photos/sbcIAn4Mn14/download?force=true&w=640')
    center center; */

  /* background-size: cover; */
  -webkit-overflow-scrolling: none;
  background-color: rgb(53, 50, 50);
  color: #fff;
  font-family: sans-serif;

  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;

  position: fixed;
  top: -10px;
  left: -10px;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}

.os-viewport {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.container {
  background-color: rgba(225, 225, 225, 0.35);
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 400px;
  width: 250px;
  position: relative;
}

.subreddit-container {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.image {
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  object-fit: cover;
}

.description {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

a {
  position: relative;
  color: #fff;
  outline: none;
  text-decoration: none;
}

.close {
  background-color: rgba(225, 225, 225, 0.35);
  border-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  opacity: 0.5;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 50%;
  top: 1rem;
  right: 1rem;
  text-align: center;
  z-index: 100;
  outline: none;
}

span {
  color: #fff;
  font-size: 16px;
  height: 24px;
}

.hidden {
  display: none !important;
}

input {
  border: none;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  outline: none;
  text-align: left;
  font-size: 16px;
  height: 24px;
  width: 75%;
  margin-top: 10px;
}

.sorting {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 15px;
  font-weight: 600;
  color: #fff;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #d1d1d1;
  font-weight: 400;
  text-align: center;
  margin: 3px 1px;
}

button:active {
  outline: none;
  background-color: #b1b1b1;
}
